section {
  text-align: center;
}

section .shareQuestion ul {
  text-align: right;
}

section .shareQuestion ul li {
  display: inline-block;
  padding: 1em 2em;
}

section .shareQuestion ul li span {
  font-size: 1em;
}

section .shareQuestion ul li:hover {
  background: #414141;
}

section .quizLeft {
  display: inline-block;
}

section .quizRight {
  display: inline-block;
}

section .quiz {
  display: inline-block;
  width: 768px;
  text-align: center;
  vertical-align: top;
  margin: 0 2%;
}

section .quiz h2 {
  font-size: 2em;
  color: #414141;
  margin: 0;
  padding: 0.5em 0 0;
  border-top: 3px solid #03467e;
}

section .quiz ul {
  text-align: left;
  position: relative;
}

section .quiz ul li {
  display: block;
}

section .quiz ul li input[type="radio"] {
  appearance: none;
  margin: 0 40px;
  width: 24px;
  height: 24px;
  background: #eeeeee;
  box-shadow: inset 0 0 0 .4em white, 0 0 0 .3em;
  border-radius: 50%;
  transition: .2s;
  cursor: pointer;
  color: #363945;
}

section .quiz ul li input[type="radio"]:hover, section .quiz ul li input[type="radio"]:checked {
  background: #363945;
  box-shadow: inset 0 0 0 .6em white, 0 0 0 .3em;
}

section .quiz ul li input[type="radio"]:checked {
  background: #56be8e;
  box-shadow: inset 0 0 0 .4em white, 0 0 0 .3em #56be8e;
}

section .quiz ul li input[type="radio"]:focus {
  outline: 0;
}

section .quiz ul li p {
  display: inline-block;
}

section .quiz ul li label {
  position: absolute;
  bottom: 0;
  color: #fd6767;
}

section .quiz input[type="submit"] {
  font-size: 1em;
  display: inline-block;
  padding: 0.8em 2em;
  background: #000;
  border: 1px solid #000;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

section .quiz input[type="submit"]:hover {
  opacity: 0.5;
  animation: ease-in;
}
